a, b, body, dd, del, div, dl, dt, em, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var, input {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img,button,input {
  border: 0;
}
em, i, u {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
a {
  text-decoration: none;
}
a:hover {
  color: #fff;
}
/* 版心公共类 */
.container {
  width: 1250px;
  margin: 0 auto;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pd-5 {
  padding-bottom: 5px;
}
.m-color {
  color: #c81623;
}
/* 针对字体图标 避免对旁边的问题的高度造成影响*/
.iconfont {
  line-height: 1;
}
img {
  vertical-align: top;
}
.one-txt-cut {
  /* 这三句话缺一不可 */
  overflow: hidden;
  /* 文本强制不换行 */
  white-space: nowrap;
  /* 以省略号的形式显示多余的文本 */
  text-overflow:ellipsis;
}
/* 守望先锋页面公共标题段落样式 */
.common-big-title {
  text-shadow: 0 4px 5px rgba(60,72,96,.5);
  font-style: italic;
  font-size: 7.2em;
  margin-bottom: 44px;
  font-weight: 400;
}
.common-big-title-p {
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  font-size: 2.4em;
  color: #405275;
  padding-left: 22px;
  text-indent: 5px;
  margin-bottom: 43.2px;  
}