svg:not(:root) {
  overflow: hidden; }

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  background-repeat: no-repeat;
  vertical-align: inherit;
  white-space: inherit;
  text-overflow: inherit;
  text-shadow: inherit; }

.home-header {
  position: relative;
  margin: -17px 0 0px 0;
  width: 100%;
  height: 650px; }
  .home-header .video {
    height: 100%;
    overflow: hidden; }
  .home-header .HeaderSection-inner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .home-header .HeaderSection-inner .HeaderSection-logo {
      width: 75%;
      max-width: 900px;
      min-width: 300px;
      fill: #fff;
      margin-top: 2.3%; }
    .home-header .HeaderSection-inner .HeaderSection-ctaWrapper .HeaderSection-cta,
    .home-header .HeaderSection-inner .HeaderSection-ctaWrapper .HeaderSection-cta--trailer {
      width: auto;
      margin: 19.8px auto 0;
      backface-visibility: hidden;
      max-width: 30ch;
      display: flex;
      vertical-align: unset; }
    .home-header .HeaderSection-inner .HeaderSection-ctaWrapper .HeaderSection-cta {
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 16px;
      position: relative;
      min-width: 200px;
      border-radius: 2px;
      background-color: #f06414;
      z-index: 1;
      color: #fff;
      padding: 7px 15px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
      height: 30px;
      width: 220px; }
      .home-header .HeaderSection-inner .HeaderSection-ctaWrapper .HeaderSection-cta:before {
        content: "";
        z-index: -1;
        background-color: #f06414;
        position: absolute;
        border-radius: 2px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9; }
    .home-header .HeaderSection-inner .HeaderSection-ctaWrapper .HeaderSection-cta--trailer {
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 16px;
      position: relative;
      min-width: 200px;
      background-color: #007dd1;
      border-radius: 2px;
      z-index: 1;
      color: #fff;
      padding: 7px 15px;
      display: inline-flex;
      justify-content: center;
      align-items: center; }
      .home-header .HeaderSection-inner .HeaderSection-ctaWrapper .HeaderSection-cta--trailer:before {
        content: "";
        z-index: -1;
        background-color: #007dd1;
        position: absolute;
        border-radius: 2px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9; }
    .home-header .HeaderSection-inner .HeaderSection-platformWrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 34px;
      margin-top: 1em;
      margin-left: auto;
      margin-right: auto; }
      .home-header .HeaderSection-inner .HeaderSection-platformWrapper .HeaderSection-platformIcon {
        fill: #fff; }
      .home-header .HeaderSection-inner .HeaderSection-platformWrapper .HeaderSection-platformIcon--pc {
        height: 1.3em;
        width: 6.2em;
        max-width: 26.75%;
        margin: 0 0.25em;
        -webkit-transform: translateY(5px);
        transform: translateY(5px); }
      .home-header .HeaderSection-inner .HeaderSection-platformWrapper .HeaderSection-platformIcon--xbl {
        height: 1em;
        width: 4.969em;
        max-width: 26.9225%;
        margin: 0.125em 0.33em; }
      .home-header .HeaderSection-inner .HeaderSection-platformWrapper .HeaderSection-platformIcon--ns,
      .home-header .HeaderSection-inner .HeaderSection-platformWrapper .HeaderSection-platformIcon--psn {
        height: 1em;
        width: 4.719em;
        max-width: 25.57%;
        margin: 0.1em 0.33em; }
  .home-header .BgVidControl {
    position: absolute;
    left: 10px;
    cursor: pointer;
    bottom: 20px;
    outline: none;
    color: #fff;
    font-family: FuturaNo2D, Century Gothic, AppleGothic, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px; }
    .home-header .BgVidControl .BgVidControl-inner .BgVidControl-button {
      font-family: FuturaNo2D, Century Gothic, AppleGothic, sans-serif;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 16px;
      position: relative;
      min-width: 200px;
      border-radius: 2px;
      background: none;
      z-index: 1;
      color: #fff;
      border: none;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 0.5em;
      border-radius: 0.1em;
      min-width: 0;
      padding: 0.3em;
      vertical-align: middle; }
      .home-header .BgVidControl .BgVidControl-inner .BgVidControl-button .BgVidControl-text {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased; }
      .home-header .BgVidControl .BgVidControl-inner .BgVidControl-button .BgVidControl-icon {
        height: 0.7em;
        width: 0.7em;
        fill: #fff; }
    .home-header .BgVidControl .BgVidControl-inner .video-play-pause-icon {
      background-color: #f06414; }
    .home-header .BgVidControl .BgVidControl-inner--play {
      display: none; }
  .home-header .Container--wide {
    max-width: 1600px; }
  .home-header .Container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px; }

.HeaderSection-cta--trailer:hover {
  cursor: pointer;
  border: 1px #007dd1 solid !important; }

.HeaderSection-BN:hover {
  cursor: pointer;
  border: 1px #f06414 solid; }
