/* 顶部黑色导航栏 媒介查询*/
@media (max-width: 1400px) {
  .navbar-PC {
    display: none;
  }
}
@media(min-width:1400px){
	#navbar-mobile{
		display:none;
	}
}
body {
  background-color: #fdfdfd;
  width: 100vw;
  font-family: Arial, sans-serif;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  width: 100vw;
}

header .iconfont {
  font-size: 10px;
}

.navbar-container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
}

header .navbar-PC {
  background-color: rgba(1, 5, 14, 0.932);
  height: 40px;
  padding: 0 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
}

header .navbar-PC .iconfont {
  color: rgba(163, 159, 159, 0.683);
}

header .nav-l h2 {
  width: 62px;
  height: 40px;
  background: url(../image/fwd-icon-sprite.png) no-repeat -18px -75px;
  text-indent: -999em;
}

header .nav-l h2:hover {
  background-position: -18px -119px;
}

header .nav-l li {
  margin-right: 30px;
}

header .nav-r li {
  margin-right: 12px;
}

header li a {
  display: inline-block;
  font-family: monospace;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  /* font-weight: 400; */
  color: rgba(255, 255, 255, 0.74);
  transition: color 200ms;
}

header .nav-l li:nth-child(2) a {
  text-shadow: 0 0 1px #fff;
}

header .nav-l li {
  float: left;
}

header .nav-r li {
  float: left;
}

.navbar-mobile {
  background-color: #fff;
  background: #fff;
  border-bottom: none;
  position: relative;
  height: 48px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  .mobile-icon {
    cursor: pointer;
    height: 100%;
    position: relative;
    color: #353c42;
		width: 48px;
    .mobile-svg {
      width: auto;
      height: auto;
      color: #353c42;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      fill: currentColor;
      pointer-events: none;
    }
  }
	.navbar-customLogo{
		padding-top: 5px;
		cursor: pointer;
    height: 80%;
		display: flex;
		justify-content: center;
	}
	.navbar-user-icon{
		cursor: pointer;
		height: 100%;
		width:48px;
		padding-right: 15px;
		.mobile-svg-usericon{
			fill: currentColor;      
			color: #29a1f6;
		}
		.mobile-svg-usericon:hover{
			color: #58b8fd;
		}
	}
}
